
/* Frame 1 */

position: relative;
width: 468px;
height: 1071px;

background: #FFFFFF;


/* Rectangle 12 */

position: absolute;
width: 468px;
height: 1071px;
left: 0px;
top: 0px;

background: #D29D15;


/* Rectangle 18 */

position: absolute;
width: 468px;
height: 214px;
left: 0px;
top: 0px;

background: #D9D9D9;


/* Ellipse 1 */

position: absolute;
width: 1px;
height: 1px;
left: 0px;
top: 213px;

background: url(images (1).jpg);


/* Rectangle 19 */

position: absolute;
width: 383px;
height: 89px;
left: 61px;
top: 252px;

background: #D9D9D9;


/* позвоните нам89381037639 */

position: absolute;
width: 167px;
height: 15px;
left: 165px;
top: 303px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Ellipse 2 */

position: absolute;
width: 180px;
height: 180px;
left: 144px;
top: 17px;

background: url(as6yz2hQtKmU5yo8V2EYFxTonL44RZKz2JofGw.jpg);


/* 1488 */

position: absolute;
width: 32px;
height: 12px;
left: 329px;
top: 319px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Песчинки гладкие, однородные, среднего размера, имеют желтый или серый цвет. Химическая формула — SiO2, в состав входят оксиды кремния и железа. В нем нет примесей, частичек глины или камешков, потому что промывка происходит естественным путем. */

position: absolute;
width: 314px;
height: 103px;
left: 77px;
top: 396px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;



/* Frame 2 */

position: relative;
width: 494px;
height: 1102px;

background: #FFFFFF;


/* Rectangle 13 */

position: absolute;
width: 494px;
height: 1102px;
left: 0px;
top: 0px;

background: #D29D15;


/* malysh-krepysh-pesok-mem 1 */

position: absolute;
width: 449px;
height: 289px;
left: 23px;
top: 229px;

background: url(malysh-krepysh-pesok-mem.png);


/* Песо́к — рыхлая осадочная горная порода, а также искусственный материал, состоящий из зёрен горных пород. Очень часто состоит из почти чистого минерала кварца (вещество — диоксид кремния). Слово «песок» часто употребляется во множественном числе («пески́»), но форма множественного числа имеет и другие значения. */

position: absolute;
width: 200px;
height: 100px;
left: 147px;
top: 273px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;



/* Frame 3 */

position: relative;
width: 398px;
height: 1102px;

background: #FFFFFF;


/* Rectangle 16 */

position: absolute;
width: 366px;
height: 815px;
left: 0px;
top: 0px;

background: #D9D9D9;


/* Rectangle 17 */

position: absolute;
width: 398px;
height: 1102px;
left: 0px;
top: 0px;

background: #D29D15;


/* В производстве В торговле строительный песок классифицируется по месту происхождения и произведённой обработке: Карьерный песок — неорганический сыпучий материал с крупностью до 5 мм, образовавшийся в результате естественного разрушения скальных горных пород и получаемый при разработке песчаных и песчано-гравийных месторождений без использования или с использованием специального обогатительного оборудования. Речной песок — добывается из русла рек, отличается высокой степенью очистки и отсутствием более крупных обломков и глинистых примесей. Карьерный мытый песок — добывается в карьере путём промывки большим количеством воды, в результате чего из него вымывается глина и пылеватые частицы. Карьерный сеяный песок — добываемый в карьере просеянный песок, очищенный от крупных больших фракций. Применяется при производстве раствора для кладки, штукатурных и фундаментных работ, в приготовлении асфальтобетонных смесей. Тяжёлый искусственный песок — рыхлая смесь зёрен, получаемая механическим дроблением горных пород — гранитов, мраморов, известняков, туфов, пемзы, а также шлаков различной плотности и происхождения. Форма зёрен искусственных песков, в отличие от натуральных, получается остроугольной, а поверхность — шероховатой. Искусственные пески используются в основном как заполнитель в декоративных растворах и в штукатурках, когда нужно получить эффект ощутимой фактуры накрывочного слоя на наружных поверхностях[1]. Искусственные пески применяются для любого слоя штукатурки, крупность зёрен при этом может быть разной, зависит от вида раствора и устанавливается проектом. Обычно она принимается равной крупности природных песков. При изготовлении искусственного песка из каменноугольного шлака в переработку берётся хорошо отгоревший уголь, без примесей несгоревших частиц и каменных пород, с низким содержанием серы, — от этого будет зависеть качество накрывочного слоя. При выполнении декоративной штукатурки из искусственного песка, полученного из определённой горной породы или шлака, вместе с ним для экономии может использоваться щебень, крошка и даже пудра этой же породы, от чего качество фактуры накрывочного слоя часто даже выигрывает[1]. Цена на песок зависит, прежде всего, от характеристик песка, а также напрямую связана с удалённостью песчаного карьера от районов потребления песка или от крупных строительных объектов. Самым дешёвым песком является карьерный природный песок, то есть песок, добытый в карьере и не прошедший последующей его обработки. В этом песке, как правило, присутствуют комки глины, а также большое количество пылистых и глинистых частиц. После обработки стоимость песка существенно повышается. Например, сеяный песок, который получается путём просеивания карьерного природного песка (из него удаляются мелкие камни, комки глины и другие инородные предметы), может стоить уже в 1,5—2 раза дороже своего предшественника. Мытый песок, получаемый путём промывки карьерного природного песка в воде, стоит примерно в 1,5 раза дороже сеяного и примерно в 2—3 раза дороже природного песка. Расположение песчаного карьера также влияет на стоимость добываемого в нём песка. Так, средняя стоимость песка, добываемого в Московской области, значительно выше средней стоимости песка, добываемого в Калужской области. А цена песка, добываемого в 50 км от Москвы, превышает стоимость аналогичного песка, добываемого в карьере, расположенном в 100 км от столицы. */

position: absolute;
width: 386px;
height: 1050px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;



/* Frame 4 */

position: relative;
width: 526px;
height: 1071px;

background: #FFFFFF;


/* Rectangle 14 */

position: absolute;
width: 526px;
height: 1071px;
left: 0px;
top: 0px;

background: #D29D15;


/* Rectangle 20 */

position: absolute;
width: 526px;
height: 1071px;
left: 0px;
top: 0px;

background: url(58a1f02ee16f015a3892374b.jpg);


/* Практическое использование Песок широко используется в составе строительных материалов, для намывки участков под строительство, для пескоструйной обработки фасадов зданий и разных изделий, в жилищном строительстве для обратной засыпки, при благоустройстве дворовых территорий и в быту (засыпка дорожек, устройство детских песочниц, туалетов для кошек, грунтов в теплицах и др.), при производстве раствора для кладки, штукатурных и фундаментных работ. Широко спользуется в бетонном производстве; при производстве железобетонных изделий, бетона высоких марок прочности. Важный материал при строительстве дорог, насыпей, а также при производстве тротуарной плитки, бордюров, колодезных колец (в этих случаях используют крупнозернистый песок Мк 2,2 - 2,5). Мелкий строительный песок используется для приготовления накрывочных растворов. Речной строительный песок широко применяется в различных декоративных (смешивают со связующими компонентами и красителями для получения специальных структурных покрытий) и отделочных работах. Строительный речной песок выступает компонентом асфальтобетонных смесей, которые используются в строительстве и укладке дорог. Кварцевые пески - ценное сырьё для стекольной промышленности. */

position: absolute;
width: 518px;
height: 1059px;
left: 8px;
top: 2px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;

color: #000000;

border: 1px solid #000000;
